
table { 
    border: 20px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
input[type="text"] { 
    padding: 20px 40px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 

input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: rgb(12, 14, 12); 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 

